<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="/">Home</a>
            <a href="/blog/">Blog</a>
            <a href="/notes/">Notes</a>
            <a href="https://github.com/pepicrft/Plasma" target="_blank">GitHub</a>
            <a href="/feed.xml">RSS</a>
        </div>
        <p class="footer-copyright">
            Built by <a href="https://pepicrft.me" target="_blank">Pedro Pinera</a>. Licensed under MPL-2.0. Site powered by <a href="https://github.com/pepicrft/gesttalt" target="_blank">Gesttalt</a>.
        </p>
    </div>
</footer>
</body>
</html>
