{{> head}}
{{> header}}
<main class="content-container">
    <a href="/notes/" class="back-link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline>
        </svg>
        Back to notes
    </a>
    <article>
        <time datetime="{{note.date}}">{{note.date}}</time>
        <div class="note-content">
            {{{note.html_content}}}
        </div>
    </article>
</main>
{{> footer}}
